body {
  padding-top: 60px;
  padding-bottom: 20px;
}

/* Fix single page anchor nav */
.anchor:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}

.esps {
   text-align: center;
}

.esps-legend {
    margin-top: 5px;
    margin-bottom: 5px;
}

.esps-table {
    margin-left: 10px;
    border-spacing: 10px;
    width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #222;
  color: #9d9d9d;
}

/* Color picker */
.colorpicker-saturation {
  width: 200px;
  height: 200px;
}
  
.colorpicker-hue,
.colorpicker-alpha {
  width: 30px;
  height: 200px;
}

.colorpicker-color,
.colorpicker-color div {
  height: 30px;
}

.btn-cp {
  border: 1px solid;
  width: 100%;
}

.white {
  background-color: #FFFFFF;
  border: 1px solid;
  width: 100%;
}

.red {
  background-color: #FF0000;
  border: 1px solid;
  width: 100%;
}

.green {
  background-color: #00FF00;
  border: 1px solid;
  width: 100%;
}

.blue {
  background-color: #0000FF;
  border: 1px solid;
  width: 100%;
}

canvas {
  background-color: black; 
  width: 100%;
  height: auto;
}

/* Snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;     /* Hidden by default. Visible on click */
    min-width: 250px;       /* Set a default minimum width */
    margin-left: -125px;    /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff;            /* White text color */
    text-align: center;     /* Centered text */
    border-radius: 2px;     /* Rounded borders */
    padding: 16px;          /* Padding */
    position: fixed;        /* Sit on top of the screen */
    z-index: 1;             /* Add a z-index if needed */
    left: 50%;              /* Center the snackbar */
    bottom: 30px;           /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* Progress bar */
.bar {
  width: 100%;
  height: 20px;
  border: 1px solid #2980b9;
  border-radius: 3px;
  background-image: 
    repeating-linear-gradient(
      -45deg,
      #2980b9,
      #2980b9 11px,
      #eee 10px,
      #eee 20px /* determines size */
    );
  background-size: 28px 28px;
  animation: move .5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}